@import url("reset.css");
@import url("font.css");

body {
background-color:#98FB98;
}

form {
  padding: 20px;
  display:flex;
  justify-content: center;
}

legend {
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

div#provenance {
  text-align:center;
}

textarea#msg {
  resize:none;
  width:300px;
  height:150px;
}

textarea#psw {
  resize:none;
}

h1 {
text-align:center;
background-color:#98FB98;
margin-top:1%;
}

ul li {
  margin-top:1%;
  border:2px solid black;
  border-top-width: thin;
  border-bottom-width: thin;
  border-right-width:thin;
  border-left-width:thin;
  display: inline-block;
  justify-content:space-around;
  width:10%;
  margin-left: 8%;
  text-align:center;
  margin-bottom:1%;
  background-color:#FFFF;
  height:20px;
}

footer {
  text-align:right;
}

form div {
  padding: 10px 0;
}

form div label {
  float:left;
  width:200px;
  text-align:right;
}

form div input[type="submit"] {
  background-color:white;
  color:black;
  margin: 0 0 0 250px;
}

form textarea {
  font-family: Caviar Dreams, Arial, Verdana, sans-serif;
}

form fieldset {
  outline: 2px solid white;
}
